<div class="promptInstance" style="padding: 25px;">

    <a id="link" href=<%=info.url %> class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow
        hover:bg-gray-100 dark:bg-gray-800
        dark:border-gray-700 dark:hover:bg-gray-700"
        target="_blank">
        <h5 id="website-name" class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            <%= info.title %>
        </h5>
        <p id="website-desc" class="font-normal">
            <%= info.desc %>
        </p>

    </a>


</div>