<div class="promptEntry" style="padding: 25px;">

    <img
        src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQBTWYt_OywJ_ZWteq6mAagQmGVuxj0gRGiWMpB9rChLfS-aAjuXthsfJuQ4JFgO2CEMoH6n_0vdxKrUrU">


</div>