<div class="overflow-auto">
    <!-- add the prompts here -->

    <%- include('promptInstance') %>
        <%- include('promptInstance') %>
            <%- include('promptInstance') %>
                <%- include('promptInstance') %>


</div>