<%- include('partials/navbar') %>

<!-- <h3>bobbobob</h3> -->
<div class="d-flex justify-content-center">
    <form method="post" action="/submitPrompt" role="form">
        <div class="form-group">
            <label for="prompt">Prompt</label>
            <input type="text" class="form-control" id="prompt" name="prompt" placeholder="Enter Prompt" 
            <% if (userPrompt != "") { %> value='<%=userPrompt%>'> <% } %>
        </div>
            <div class="col">
                <button type="submit"
                    class="btn btn-success btn-success:hover menu_buttons button-padding general-margin configurator-button-width">
                    Submit
                </button>
            </div>
            <p class="text-red-500">Welcome to hi</p>
    </form>
</div>
    <div>
        <h5>
            <% if (sanctuaryResponse !="" ) { %> Bob
                <%=sanctuaryResponse%>
                    <% } %>
        </h5>
    </div>