<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="card border-success mx-3" style="max-width: 30rem;">
    <div class="card-header">Type your concern at the bottom</div>
    <div class="card-body text-success">
      <h5 class="card-title">Connecting you with reliable resources.</h5>
      <p class="card-text">Please allow a few seconds for your resources to appear.</p>
    </div>
    </div>




        <div class="d-flex justify-content-center"
            style="position: fixed; background-color: rgb(236, 236, 236); bottom: 0; padding: 10px; width: 100%;">
            <form method="POST" action="/submitPrompt" style="width: 100%;">
                <div class="form-group" style="float: left;  padding-right: 5px; width:83%">
                    <input type="text" class="form-control" id="prompt" name="prompt" placeholder="Enter your health concerns">

                </div>
                <button type="submit" id="submit" style="height: 100%; width: 17%;"
                    class="btn btn-success btn-success:hover opacity-100 bg-lime-700">
                    <i class="fa-solid fa-right-long fa-xl"></i>
                </button>
                <input type="hidden" name="blank">
            </form>
        </div>

        <div class="px-5 text-center d-none" id="loadingCard" style="padding-top: 200px;">
            <span id="loadingContainer"><i class="fa-solid fa-heart-circle-plus fa-beat-fade fa-2xl" style="color: #eb6b4a;"></i></span>
          </div>
        </div>

        <script>
            $(document).ready(function() {
              $('#submit').click(function() {
                // show card with loading indicator
                $("#loadingCard").removeClass("d-none");
                $("#generalContainer").addClass("d-none");
              });
            });
          </script>

<%- include('partials/promptContainer', {promptResponseToview: promptResponses})%>