<%- include('partials/navbar') %>

<div class="d-flex justify-content-center">
    <form method="post" action="/submitPrompt">
        <div class="form-group">
            <label for="prompt">Prompt</label>
            <input type="text" class="form-control" id="prompt" name="prompt" value="Enter prompt" placeholder="Enter Prompt">
        </div>
            <input type="hidden" name="blank">
            <div class="col">
                <button type="submit"
                    class="btn btn-success btn-success:hover menu_buttons button-padding general-margin configurator-button-width">
                    Submit
                </button>
            </div>
            <p class="text-red-500">Welcome to hi</p>
    </form>
</div>