@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #1D4521;
    --text-color-white: #FFFFFF;
    --subtext-color-light-grey: #b9bab9;
    --heading-color-burgundyish: #D45A48;
    --secondary-color-light-green: #3d9970;
    --primary-btn-color-blue: #2474A1;
    --hovered-btn-color-tropblu: #4BBDAC;
    --misc-color-turqblu: #336E6F;
}
#accordion{
    margin:100px auto;
    width:600px;
  }
  #accordion li{
    list-style:none;
    width:100%;
    margin-bottom:10px;
    background: white;
    padding: 20px;
    border-radius:4px;
  }
  #accordion li label{
    padding:10px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    color:#c2000c;
  }
  #accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color:#333
  }
  #accordion label + input[type="radio"]{
    display:none;
  }
  #accordion .content{
    padding:0 10px;
    line-height: 26px;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.5s;
  }
  #accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
  }